body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif, sans-serif;
  background: white; }

.container {
  width: 60%;
  max-width: 815px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center; }

.h1 {
  text-overflow-ellipsis: overflow;
  overflow: hidden;
  display: block;
  font-size: 1.5rem;
  margin: 10px; }

.search {
  width: 280px;
  padding: 5px;
  margin: 15px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2); }

.search_box {
  width: 180px;
  height: 15px;
  font-size: 0.8rem;
  padding: 10px 5px;
  border: 0;
  background: #eee;
  border-radius: 5px 0 0 5px; }

.search_box:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset; }

.search_button {
  overflow: visible;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 35px;
  width: 90px;
  font-size: 0.8rem;
  color: #fff;
  background: #67b040;
  border-radius: 0 5px 5px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
